<script setup lang="ts">
import { onMounted, ref } from 'vue'
import useCommon from '@/core/hooks/useCommon'
const { storeDispatch } = useCommon('useCounterStore')

const myInfo = ref({})
const getMyInfo =async () => {
  const res = await storeDispatch('demoCallApi')
  console.log("file: index.vue:9 ►► getMyInfo ►► res:", res)
  if(res){
    console.log("file: index.vue:9 ►► getMyInfo ►► resss:", res)

  }
  
}
onMounted(async () => {
   getMyInfo()
})
</script>

<template>
  <main>sdkjghvnrolgho</main>
</template>

<style scoped lang="scss">
@import './styles.scss';
</style>
